html {
  min-height: 100% !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #7f8381, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.MainBox {
  width: fit-content;
  height: fit-content;
  border-radius: 40px;
  background-color: #DEE3E3;
  box-shadow: 3px 5px 20px #555555;
}

.ui.header.Title {
  bottom: 320px;
  color: #414141;
  font-size: 50px;
  font-family: "Segoe UI";
  font-weight: 350;
}

.ui.header.HeaderText {
  color: #414141;
  font-family: "Segoe UI";
  font-weight: 350;
  font-size: 35px;
}

.ui.header.InsideText {
  color: #414141;
  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 22px;
}

a.HeaderText {
  color: #414141;
  font-family: "Segoe UI";
  font-weight: 350;
  font-size: 22px;
}


.ui.input.InputText {
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 400;
}

.ui.form.InputBox {
  width: 391px;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 400;
}

.ui.button.AuthButton {
  background-color: rgba(42, 10, 62, .2);
  height: 95px;
  width: 360px;
  font-size: 35px;
  font-weight: 400;
  border-radius: 30px;
  margin-top: 40px;
}

.ui.button.InputButton {
  height: 38px;
  width: 144px;
  background-color: rgba(42, 10, 62, .2);
  color: black;
  border-radius: 20px;
  font-family: "Segoe UI";
}

.ui.container.HeaderContainer {
  height: 100px;
}

.ui.header.ReportTitle {
  color: #414141;
  font-size: 100px;
  font-family: "Segoe UI";
  font-weight: 350;
}