html {
  min-height: 100% !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.MainBox {
  width: 432px;
  height: 550px;
  border: 2px solid rgba(42, 75, 32, .8);
  border-radius: 60px;
  background-color: rgba(1, 71, 52, .2);
}

.ui.header.Title {
  bottom: 320px;
  color: #414141;
  font-size: 50px;
  font-family: "Segoe UI";
  font-weight: 350;
}

.ui.header.HeaderText {
  color: #414141;
  font-family: "Segoe UI";
  font-weight: 350;
  font-size: 35px;
}

a.HeaderText {
  color: #414141;
  font-family: "Segoe UI";
  font-weight: 350;
  font-size: 22px;
}

.ui.dropdown.InputText {
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 400;
}
.ui.form.InputBox {
  width: 391px;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 400;
}

a.ui.button {
  background-color: #8EBC88;
  color: #414141;
  height: 93px;
  width: 358px;
  font-family: "Segoe UI";
  border: 1px solid #51704D;
  font-size: 35px;
  font-weight: 400;
  border-radius: 30px;
  margin-top: 50px;
}

.ui.button.InputButton {
  height: 38px;
  width: 144px;
  background-color: #8EBC88;
  border: 1px solid #51704D;
  border-radius: 20px;
  font-family: "Segoe UI";
}


