.Signup-Welcome {
    text-align: center;
    align-self: center;
    position: relative;
    left: 5px;
    bottom: 125px;
    color: #414141;
    font-size: 40px;
    font-family: "Segoe UI";
    font-weight: 325;
  }

.Signup {
    align-self: center;
    position: fixed;
    width: 432px;
    height: 334px;
    border: 1px solid rgba(42, 75, 32, .6);
    border-radius: 60px;
    background-color: rgba(1, 71, 52, .2);
  }

.SignupBodyText {
    text-align: center;
    margin-left: 3%;
    color: #414141;
    font-family: "Segoe UI";
    font-weight: 350;
    font-size: 30px;
    margin-top: -24%;
  }

.SignupEmails {
    text-align: center;
    margin-left: 2%;
    color: #414141;
    font-family: "Segoe UI";
    font-weight: 350;
    font-size: 25px;
    margin-top: 21%;
}